In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Data

In [3]:
df = pd.read_csv('salary_data_clean.csv')
df.head()

,Unnamed: 0,job title,salary estimate,job description,rating,company name,location,headquarters,size,founded,...,avg_salary,company_txt,job_state,age,python,R,spark,aws,cloud,excel
0,0,Data Scientist 2,$52K-$95K,Description\nDigital Health and Analytics with...,3.9,Humana\n3.9,"Louisville, KY",-1,10000+ Employees,1961,...,73.5,Humana,KY,59,1,0,1,0,0,0
1,1,Data Scientist,$58K-$103K,Job Posting End Date: 12/24\nUnum is a company...,3.9,Unum\n3.9,"Portland, ME",-1,5001 to 10000 Employees,1848,...,80.5,Unum,ME,172,0,0,0,0,0,0
2,3,Data Scientist,$87K-$142K,"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America\n4.1,"Louisville, KY",-1,1001 to 5000 Employees,1985,...,114.5,Farm Credit Mid-America,KY,35,0,0,0,0,0,0
3,4,Data Scientist,$98K-$165K,Tradeweb is looking to add a Data Scientist to...,4.4,Tradeweb Markets LLC\n4.4,"New York, NY",-1,501 to 1000 Employees,1997,...,131.5,Tradeweb Markets LLC,NY,23,1,0,0,0,0,0
4,5,Data Scientist,$100K-$160K,Are you passionate about providing real impact...,4.6,Johns Hopkins Applied Physics Laboratory (APL)...,"Laurel, MD",-1,5001 to 10000 Employees,1942,...,130.0,Johns Hopkins Applied Physics Laboratory (APL),MD,78,1,0,0,0,0,0